Repository Phazor-js/Phazor.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Translation, documentation, important, code

.github/labeler.yml:

Translation:
  - docs/lang/*

documentation:
  - ./*.md
  - ./**/*.md
  
important:
  - ./*.html
  - ./**/*.html
  - ./language.js

code:
  - ./*.js
  - ./**/*.js
  - ./*.html
  - ./**/*.html

Deploying to gh-pages from @ Phazor-js/Phazor.js@f7288c8ec81599adc34038d22172214d86a4a224 🚀
  lang/ua/readme.md
Labels: documentation

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@553fbd239ac2ae2f8f69d2411f09b42d8622b2ba 🚀
  lang/ua/readme.md
Labels: documentation

Create index.html
  docs/lang/it/index.html
Labels: important, code

Create readme.md
  docs/lang/it/readme.md
Labels: documentation

Update index.html
  docs/lang/it/index.html
Labels: important, code

Update index.html
  docs/lang/it/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@8df057e3ac10aeec999e8fee6e9fe71c27dca7a0 🚀
  lang/it/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@2c684333275da461d99c91abfa2432469725a75d 🚀
  lang/it/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@72072a16d8b95060e04ab3747a2b1d400385ced5 🚀
  lang/it/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@e90847f1d85a13d9a2d3ba6b0265bc2f555fe9fc 🚀
  lang/it/index.html
Labels: important, code

Create index.html
  docs/lang/index.html
Labels: Translation, important, code

Create 404.html
  docs/404.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@53f35e305bd20f39562e1f41cd7415117fd56cb4 🚀
  lang/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@57bece731d5723eabfe24de2c9f01ce79ea8ff37 🚀
  404.html
Labels: important, code

Update 404.html
  docs/404.html
Labels: important, code

Delete index.html
  docs/lang/index.html
Labels: Translation, important, code

Update 404.html
  docs/404.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@eb113828e4930851664b031e9c11fb52d1861617 🚀
  404.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@48ed822b87d246266b33dc8a8628976e9693f481 🚀
  lang/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@5a834f9c99a605f8b7f7b25b8eeeaaca4e94d814 🚀
  404.html
Labels: important, code

Update 404.html
  docs/404.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@91880ff9b5b3c8cabed2ff8db3e58603f05065fc 🚀
  404.html
Labels: important, code

Add files via upload
  docs/lang/Phazor.js-main.zip
Labels: Translation

Delete Phazor.js-main.zip
  docs/lang/Phazor.js-main.zip
Labels: Translation

Add files via upload
  docs/lang/pol
Labels: Translation

Delete pol
  docs/lang/pol
Labels: Translation

Create langindex.html
  docs/langindex.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@b091f65192e4e827c6f1db382afee2f5fdfe401a 🚀
  lang/Phazor.js-main.zip
Labels: none

Deploying to gh-pages from @ Phazor-js/Phazor.js@7071840e1c43292e0a1f8cb02495706b28a9c46f 🚀
  lang/Phazor.js-main.zip
Labels: none

Deploying to gh-pages from @ Phazor-js/Phazor.js@8aff2f8bb5e66d9bf05972dd6d7d484c8a8dd3fa 🚀
  lang/pol
Labels: none

Deploying to gh-pages from @ Phazor-js/Phazor.js@ea2b54f1a1c07909d940c7917e4920f736daab6b 🚀
  lang/pol
  langindex.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@3e565a9de9e7dc2fb44ef0e3f24c841b33404ff0 🚀
  langindex.html
Labels: important, code

Create index.html
  docs/lang/pol/index.html
Labels: important, code

Add files via upload
  docs/lang/pol/index.html
Labels: important, code

Add files via upload
  docs/lang/pol/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@dbd09d053448da0c3c01d46d799853bb5394a54f 🚀
  lang/pol/index.html
  langindex.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@7d950ba16fe895b029614d6297fab2f363b989a0 🚀
  lang/pol/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@2a561d3f39ac7cac6f42d8cb4ed07bdb1083b68a 🚀
  lang/pol/readme.md
Labels: documentation

Update readme.md
  docs/lang/pol/readme.md
Labels: documentation
