Repository Phazor-js/Phazor.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Translation, documentation, important, code

.github/labeler.yml:

Translation:
  - docs/lang/*

documentation:
  - ./*.md
  - ./**/*.md
  
important:
  - ./*.html
  - ./**/*.html
  - ./language.js

code:
  - ./*.js
  - ./**/*.js
  - ./*.html
  - ./**/*.html

Update index.html
  docs/lang/pol/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@41759f4e3ab8380f69f5fb98a98d9d7ca4ad07b3 🚀
  lang/pol/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@963b35467b16697ea7bbbde7bf10f2583c3660e6 🚀
  lang/pol/index.html
Labels: important, code

Rename docs/lang/pol/readme.md to docs/lang/pl/readme.md
  docs/lang/pl/readme.md
Labels: documentation

Rename docs/lang/pol/index.html to docs/lang/pl/index.html
  docs/lang/pl/index.html
Labels: important, code

Update index.html
  docs/lang/pl/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@923ed7c6aa9fad5f4d129fdeb1d128fffe16aee7 🚀
  lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@92a24ad846c397a3a8b07557661c707601de4b60 🚀
  lang/pl/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@21b5dee88cdfa7ad031c46d25a62a65c3e088ae6 🚀
  lang/pl/index.html
Labels: important, code

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@dc4e2be0dc1ae3eb7bd1b2dd370c368b92625afe 🚀
  footer.md
Labels: documentation

Update readme.md
  docs/readme.md
Labels: documentation

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Update readme.md
  docs/lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@d43cd942dbd13de2a14412d00d2d31c28b30e91d 🚀
  readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@ba11baebdbf8f89518cd12571e9b705adbe182d9 🚀
  lang/ua/readme.md
Labels: documentation

Update readme.md
  docs/lang/it/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@68c53f0c743c06e5470a0209fd1b231a8ef1ff29 🚀
  lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@3e0daeccea4b6a69a80fc45cb4e69bafc651cc3b 🚀
  lang/it/readme.md
Labels: documentation

Update readme.md
  docs/lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@9bcade0c82d5939784f4fb1ee5dcdb16bc6cfed2 🚀
  lang/pl/readme.md
Labels: documentation

Update readme.md
  docs/lang/pl/readme.md
Labels: documentation

Update readme.md
  docs/lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@ecfdd24bd093872f152e54e58e3af39db5d8b85d 🚀
  lang/pl/readme.md
Labels: documentation

Update readme.md
  docs/lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@747508596d6332717daaf4ab2606c1a5dacad74a 🚀
  lang/pl/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@ba353fb80ac0a35528ebab31f0004af94f373f68 🚀
  lang/pl/readme.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create 2
  docs/temp/2
Labels: none

Add files via upload
  docs/temp/index.html
  docs/temp/script.js
  docs/temp/style.css
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@101da0ef6e89ad2c9367d2297bf59d4a01873949 🚀
  temp/2
Labels: none

Deploying to gh-pages from @ Phazor-js/Phazor.js@a6cf10caa15e4ae9df20eb51d706d47376bab160 🚀
  temp/index.html
  temp/script.js
  temp/style.css
Labels: important, code

Add files via upload
  docs/temp/index.html
  docs/temp/script.js
  docs/temp/style.css
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@9a63edfffb5c5b1f0b54023a6b353079ff726442 🚀
  temp/index.html
  temp/script.js
  temp/style.css
Labels: important, code

Update index.html
  docs/temp/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@79046111d8d3d737c9587b461029ae6938f6f912 🚀
  temp/index.html
Labels: important, code

Update .gitignore
  .gitignore
Labels: none

Update footer.md
  docs/footer.md
Labels: documentation
