Repository Phazor-js/Phazor.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Translation, documentation, important, code

Create labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@7ab3671e19ca591b4a48db4e1ef3af089ea5c237 🚀
  lang/ua/readme.md
Labels: documentation

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Rename labeler.yml to label.yml
  .github/workflows/label.yml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@38555b378c8a9d00a6d06e7e8eef2212415aba2d 🚀
  lang/ua/readme.md
Labels: documentation

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@4d9ff05b11d533e8bb11fe42cc2118961e0d2123 🚀
  lang/ua/readme.md
Labels: documentation

Update index.html
  docs/index.html
Labels: important, code

Update index.html
  docs/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@cb84eca5b926e46cdb0d2c86ecbb98b539a818f9 🚀
  index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@f934da8610d2f8da86e52c797652c7cc8a715af9 🚀
  index.html
Labels: important, code

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@c300d51c51e9a186c1f475da0628a1f3540c7896 🚀
  lang/ua/readme.md
Labels: documentation

Update index.html
  docs/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@69e688b5e0f89d46053158b0eb63a82d68a895aa 🚀
  index.html
Labels: important, code

Update index.html
  docs/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@873f90029bcb7238e9e3c9834584ec69ec26fefd 🚀
  index.html
Labels: important, code

Create footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@c9a23f0d77c97170278183bb40f57fda1b7df0e5 🚀
  footer.md
Labels: documentation

Update LICENSE
  LICENSE
Labels: none

Update footer.md
  docs/footer.md
Labels: documentation

Update index.html
  docs/lang/ua/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@9c9f1f43a5c6c92127b46787c51e0034002be8ba 🚀
  footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@424c95cdabf4b5db1d15639f2e54481471d3fff1 🚀
  footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@8b1b8ec5c17819f6bcdf98af2062594132781a6f 🚀
  footer.md
  lang/ua/index.html
Labels: documentation, important, code

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@76db730d32439f6f95ac746f2f45e1f359eca74a 🚀
  footer.md
Labels: documentation

modified: language.js
  language.js
Labels: important, code

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@54967e3fbfc3e1f98bf2b0055f83927afc872a96 🚀
  footer.md
Labels: documentation

Update index.html
  docs/lang/ua/index.html
Labels: important, code

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@7a445fe26e708d53f2e0f30596d2c046aa45b2a6 🚀
  lang/ua/index.html
Labels: important, code

Update readme.md
  docs/lang/ua/readme.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@87bcfd454e34887d9616d6fc25843a2b4129c4f3 🚀
  lang/ua/readme.md
Labels: documentation

.github/labeler.yml:

Translation:
  - docs/lang/*

documentation:
  - ./*.md
  - ./**/*.md
  
important:
  - ./*.html
  - ./**/*.html
  - ./language.js

code:
  - ./*.js
  - ./**/*.js
  - ./*.html
  - ./**/*.html
