Repository Phazor-js/Phazor.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Translation, documentation, important, code

.github/labeler.yml:

Translation:
  - docs/lang/*

documentation:
  - ./*.md
  - ./**/*.md
  
important:
  - ./*.html
  - ./**/*.html
  - ./language.js

code:
  - ./*.js
  - ./**/*.js
  - ./*.html
  - ./**/*.html

Deploying to gh-pages from @ Phazor-js/Phazor.js@97c7b540045b6e401e338442c2e08c7f26ba16d4 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@ee3b06cd8820824b5693c9a4d00f03b245b489a7 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@cafaf237d19f0c6633a09e542b4e769b04d81ec6 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@d2be19ef2570b01f1ab4308cd117ab8a06265922 🚀
  footer.md
Labels: documentation

No need dont work if really
  .github/workflows/auto-merge.yml
Labels: none

Update LICENSE
  LICENSE
Labels: none

Create index
  docs/play/index
Labels: none

Add files via upload
  docs/play/index.html
  docs/play/script.js
  docs/play/style.css
Labels: important, code

Update index.html
  docs/play/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@1f14020dbbb24cb704e0faf5b0dfa8fb5ff058ec 🚀
  play/index
Labels: none

Update index.html
  docs/play/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@ff1eca7ea625bb1474e87f8ab68a2b895aed5e01 🚀
  play/index.html
  play/script.js
  play/style.css
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@3ee37c5d4adc3545c49d1156215779aff92b5a8c 🚀
  play/index.html
Labels: important, code

Deploying to gh-pages from @ Phazor-js/Phazor.js@95d4ee54e625b33862ba49d246a014afe897d911 🚀
  play/index.html
Labels: important, code

Update script.js
  docs/play/script.js
Labels: code

Deploying to gh-pages from @ Phazor-js/Phazor.js@1568d6f98e24b4ccc4e471414fe9ddbcc4490654 🚀
  play/script.js
Labels: code

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@2ecd1239910f9ba8b71c326808f6190db4a93183 🚀
  footer.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create showdown.js
  docs/plugin/showdown.js
Labels: code

Deploying to gh-pages from @ Phazor-js/Phazor.js@df84714d2297ad0e0a23a7783b0d20dd9eba9fe3 🚀
  plugin/showdown.js
Labels: code

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@b4c03bd34e2ae4949904505b6e36d03abdd823c0 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@00d0f820b07c6b93fc58c290a96d67bb27671afa 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@b67204bc100e9cdcc827e8188b85e13bb1f6dad6 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@67440791cb41d20208a94bb7e525b6a51481c528 🚀
  footer.md
Labels: documentation

Update footer.md
  docs/footer.md
Labels: documentation

Deploying to gh-pages from @ Phazor-js/Phazor.js@63e1812091bd2b90051039cf48c1439dd1a2193c 🚀
  footer.md
Labels: documentation
